<%- include('email-header') %>
<table bgcolor="#FFFFFF" style="background: #fff; margin: 0 auto;" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
      <tr>
        <td valign="top" style="padding: 10px; font-size: 14px; text-align: justify">
          <div style="color: #555">
            <p>
              <b> Dear User</b>
            </p>
          </div>
          <div style="margin-top: 15px; font-size: 14px; color: #555">
            <p>Thank you for registering your account on Suitable Riders.</p>
            <p>
              The OTP for email address verification is:
              <strong><%= data.otp %></strong>
            </p>
            <p>
              It is time-sensitive and valid for one time only. It is highly
              recommended that you do not share it with anyone.
            </p>
            <p>
              You have received this email because you signed up on Suitable
              Riders with this email address. If you haven't signed up or if you
              think someone has mistyped their email address with yours, you can
              simply ignore this email.
            </p>
            <p>
              Do not reply to this email as this mailbox is unattended. In case of
              any query, a critic, praise or simply a 'Hi', we are always ready to
              hear from you and serve you our best. Drop us a line at
              contact@suitableriders.com and we will respond promptly.
            </p>
          </div>
      </td>
      </tr>
<%- include('email-footer') %>
