<tr align="left">
    <td colspan="5" style="padding: 10px; color: #555;">
        <p style="font-size: 14px;">
            <b>
                Thanks,
                <br />
                Suitable Riders Team
            </b>
        </p>
    </td>
</tr>
</tbody>
</table>
<table width="100%" style="margin: 0 auto;text-align: center;" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td style="color: #fff;padding-top: 10px;">
                    Unit 28 Technology Drive, Batley Business Park,<br />
                    Batley, West Yorkshire, WF17 6ER.
            </td>
        </tr>
        <tr>
            <td style="font: size 12px; color: #fff; padding-top: 10px;">
                <span>Copyright ©</span>
                <a href=<%=SRUrl %>  rel="noopener" target="_blank" style="color: #C3F911;">Suitable Riders</a>
                2022
            </td>
        </tr>
    </tbody>
</table>
</td>
</tr>
</table>
